body {
    margin: 50px;
    font-weight: 700;
    font-family: sans-serif;
}
.container {
    border: solid 10px;
    display: grid;
    grid-template-rows: repeat(2 , 100px);
    grid-template-columns: repeat(2 , 100px);
    justify-content: space-around;
    align-content: space-around;
    height: 600px;
    background-color: gray;
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */


}
.BOX1 {
    color: white;
    border: solid 10px;
    border-color: red;
    background-color: rgb(245, 152, 152);
    /* grid-row: 1 / 3; */
    /* grid-column: 1 / 7; */
   
    
}
.BOX2 {
    color: white;
    border: solid 10px;
    border-color: red;
    background-color: rgb(245, 152, 152);
    /* grid-area: 2 / 4 / 4 / 6; */
    /* z-index: 1; */

}
.BOX3 {
    color: white;
    border: solid 10px;
    border-color: red;
    background-color: rgb(245, 152, 152);
    /* grid-area: 3 / 1 / -1 / -1; */
}
.BOX4 {
    color: white;
    border: solid 10px;
    border-color: red;
    background-color: rgb(245, 152, 152);
}
